body {
	background-color: GhostWhite;
	margin: 0px;
}

#site-icon {
	width: 50%;
}

#content {
	max-width: 500px;
	padding: 10px;
	background-color: GhostWhite;
	font-family:sans-serif;
}

#title {
	text-align: center;
}

.form-element {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: none;
	box-shadow: none;
	outline-style: none;
	background-color: #cccccc;
	font-family:sans-serif;
	font-size: medium;
	resize: vertical
}

.form-element:focus {
	background-color: #b3b3b3;
}

.form-element:valid {
	border-bottom: 2px solid black;
}

.form-element:invalid {
	border-bottom: 2px solid red;
}

img {
	max-width: 100%;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media all and (min-width: 518px) {
	#content {
		border-radius:25px;
		margin-top: 16px;
		margin-bottom: 16px;
		margin-left: auto;
		margin-right: auto;
		filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
	}
}