/* https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space */

/* entire webpage */

:root {
	--bg: rgb(248, 248, 255);
	--fg: rgb(255, 255, 255);

	--radius: 25px;
	--pad: 10px;

	--logo-hover: drop-shadow(0 0 8px rgba(255, 0, 0, 0.5));
	--shadow: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));

	--display-font: system-ui;

	font-family: var(--display-font);

	/* html element must be sized https://stackoverflow.com/a/7049918/2442171 */
	height: 100%;

	scrollbar-color: rgb(73, 73, 73) var(--bg);

	/* Remove default margin around content */
	margin: 0;
}

.page {
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: 0;
	background-color: var(--bg);
}

/* Keep the footer at the bottom of the page */

.page > .page-body {
	flex: 0 1 auto;
}

.page > .page-separator {
	flex: 1 1 auto;
	min-height: 10px;
}

.page > .page-footer {
	flex: 0 1 auto;
}

/* Foreground elements like the main content and header */
.foreground {
	background-color: var(--fg);
	padding: var(--pad);
	filter: var(--shadow);
}

//.foreground *::selection {
//	background-color: var(--bg);
//	text-decoration: underline;
//}

.header {
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
	position: relative;
	width: fit-content;
	margin-left: 5%;
	margin-right: auto;
	user-select: none;
}

.logo {
	display: inline;
	white-space: nowrap;
	text-decoration: none;
	font-size: 200%;
	transition: filter 500ms;
}

.lang-selector {
	display: inline;
}

.current-locale {
	font-weight: bold;
	display: inline;
}

.header-content {
	white-space: nowrap;
	margin-left: 10px;
	display: inline;
}

.logo:hover {
	filter: var(--logo-hover);
	transition: filter 500ms;
}

.logo-img {
	vertical-align: middle;
}

.logo-text {
	margin-left: var(--pad);
	vertical-align: middle;
	font-style: italic;
	font-weight: bold;
	color: black;
}

/* All page content that is not the footer */

.main-box {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

.article-box {
	text-decoration: none;
	color: black;
	margin: var(--pad);
	border-radius: var(--radius);
	display: inline-block;
}

.article-box:hover {
	filter: var(--shadow) brightness(85%);
}

/* TODO fix this stuff to work better again */
@media all and (min-width: 518px) {
	.main-box {
		border-radius: var(--radius);
		margin-top: 16px * 2;
		margin-bottom: 16px;
	}
}

.footer {
	padding-right: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: 0;
	border-top-left-radius: var(--radius);
}

.title {
	text-align: center;
}

.title-article {
	text-align: center;
	text-decoration: underline;
}

.form-element {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: none;
	box-shadow: none;
	outline-style: none;
	background-color: #cccccc;
	font-size: medium;
	resize: vertical;
}

.form-element:focus {
	background-color: #b3b3b3;
}

.form-element:valid {
	border-bottom: 2px solid black;
}

.form-element:invalid {
	border-bottom: 2px solid red;
}

.markdown {
	all: initial;
	/* Properties for markdown text */
}

.markdown > * {
	/* Set properties which were reset by .markdown rule */
	font-family: var(--display-font);
}

.markdown code {
	font-family: monospace;
	tab-size: 4;
}

.markdown strong {
	font-weight: bold;
}

/* .img {
	max-width: 100%;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
} */