@charset "utf-8";

/* https://stackoverflow.com/questions/90178/make-a-div-fill-the-height-of-the-remaining-screen-space */

/* entire webpage */

:root {
	/* Background and content box foreground colors */
	--bg: rgb(248, 248, 255);
	--fg: rgb(255, 255, 255);
	--hover-color: rgb(194, 194, 194);
	/* Rounded edge radius */
	--radius: 25px;
	/* Whitespace between and inside most elements */
	--pad: 10px;
	--pad-big: 32px;
	--logo-hover: drop-shadow(0 0 8px rgba(255, 0, 0, 0.5));
	--shadow: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5));
	--display-font: "Open Sans";
	--unselected-text-color: rgb(163, 163, 163);
	--underline-thickness: 0.1em;
	--content-box-width: 500px;

	/* html element must be sized https://stackoverflow.com/a/7049918/2442171 */
	height: 100%;

	/* When jumping to anchors, scroll smoothly */
	scroll-behavior: smooth;
}

body {
	all: initial;
	font-family: var(--display-font), ui-sans-serif;
	display: flex;
	flex-flow: column;
	height: 100%;
	margin: 0;
	background-color: var(--bg);
}

/* Keep the footer at the bottom of the page */

body > .page-body {
	flex: 0 1 auto;
	width: 100%;
	display: flex;
}

body > .page-separator {
	flex: 1 1 auto;
	min-height: 30px;
}

body > .page-footer {
	flex: 0 1 auto;
}

/* Foreground elements like the main content and header */
.foreground {
	background-color: var(--fg);
	padding: var(--pad);
	filter: var(--shadow);
}

.header {
	position: relative;
	border-bottom-left-radius: var(--radius);
	border-bottom-right-radius: var(--radius);
	max-width: max-content;
	margin-left: 5%;
	margin-bottom: var(--pad-big);
	user-select: none;
	white-space: nowrap;
	flex: 0 1 auto;
}

/* Put all header bar elements on one line and align them */
.header > * {
	display: inline;
	vertical-align: middle;
}

.headerless-content {
	margin-top: var(--pad-big);
}

.logo {
	white-space: nowrap;
	text-decoration: none;
	font-size: 2rem;
	transition: filter 500ms;
}

.image {
	max-width: 100%;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	pointer-events: none;
}

.current-locale {
	font-weight: bold;
	display: inline;
}

.lang-button {
	font-family: var(--display-font);
	font-size: 1rem;
	color: inherit;
	padding: var(--pad);
	background-color: var(--fg);
	white-space: nowrap;
	margin-left: var(--pad);
	display: inline;
	border-radius: var(--radius);
	border-style: none;
}

.lang-button:disabled {
	color: var(--unselected-text-color);
	text-decoration-line: underline;
}

@media (hover: hover) {
	.lang-button:enabled:hover {
		background-color: var(--bg);
		filter: var(--shadow);
		text-decoration-line: underline;
	}
}

.login-form {
	display: inline;
}

.login-form > * {
	margin-left: var(--pad);
}

/* Use hover style only on mouse-controlled GUIs */
@media (hover: hover) {
	.logo:hover {
		filter: var(--logo-hover);
		transition: filter 500ms;
	}
}

.logo-img {
	vertical-align: middle;
}

.logo-text {
	font-family: var(--display-font);
	margin-left: var(--pad);
	vertical-align: middle;
	font-style: italic;
	font-weight: bold;
	color: black;
}

/* All page content that is not the footer */

.content-left {
	flex: 1 1 0;
	padding-right: var(--pad);
	display: flex;
	justify-content: end;
	align-items: flex-end;
}

.content-center {
	
}

.content-right {
	flex: 1 1 0;
	padding-left: var(--pad);
	display: flex;
	justify-content: start;
	align-items: flex-end;
}

.main-box {
	width: var(--content-box-width);
	border-radius: var(--radius);
	resize: horizontal;
	overflow: hidden;
}

.comment-box {
	border-radius: var(--radius);
	margin-top: var(--pad);
	margin-bottom: var(--pad);
}

.comment-text-box {
	
}

.article-box {
	display: block;
	text-decoration: none;
	color: black;
	margin: var(--pad);
	border-radius: var(--radius);
	font-family: var(--display-font);
}

.article-box:hover {
	filter: var(--shadow) brightness(85%);
}

.jump-top {
	position: sticky;
	bottom: var(--pad);
	border-radius: var(--radius);
	font-family: var(--display-font);
	text-decoration: none;
	color: black;
	user-select: none;
}

@media (hover: hover) {
	.jump-top:hover {
		background-color: var(--hover-color);
	}
}

.left-footer {
	padding-left: var(--pad);
	padding-bottom: var(--pad);
	float: left;
	border-top-right-radius: var(--radius);
	user-select: none;
	font-family: var(--display-font);
}

.right-footer {
	padding-right: var(--pad);
	padding-bottom: var(--pad);
	float: right;
	border-top-left-radius: var(--radius);
	font-family: var(--display-font);
}

.title {
	text-align: center;
	font-family: var(--display-font);
	hyphens: auto;
}

.title-article {
	font-family: var(--display-font);
	text-align: center;
	text-decoration-line: underline;
	text-decoration-thickness: var(--underline-thickness);
}

.article-lang {
	font-size: 1rem;
	font-family: var(--display-font);
	color: var(--unselected-text-color);
	text-align: center;
	font-weight: normal;
}

.text-field {
	background-color: rgb(243, 243, 243);
	border: initial;
	padding: var(--pad);
	border-radius: var(--radius);
}

.text-field:focus-visible {
	outline: none;
	background-color: rgb(218, 218, 218);
}

.markdown {
	all: initial;
	/* Properties for markdown text */
	font-family: var(--display-font);
}

.markdown code {
	font-family: monospace;
	tab-size: 4;
}

.markdown strong {
	font-weight: bold;
}